@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

:root {
  --background-color: #F9F9F9;
  --primary-text-color: #292019;
  --secondary-text-color: #6F6863;
  --primary-color: #DDB762;
  --secondary-color: #A3A4A5;
  --nav-text-color: #2D4768;
  --border-color: #DADADA;
  --price-color:#3FD06F;
  --details-head:#2C4768;
  --details-nav:#2B4868;
  font-family: "Almarai", sans-serif;
}

